body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input[type="email"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input[type="email"]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}

input[type="email"]::placeholder {
    color: #aaa;
}

.search-btn {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #0073e6;
}
input[type="password"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input[type="password"]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}

input[type="password"]::placeholder {
    color: #aaa;
}
.fa-solid.fa-backward {
    position: fixed;
    top: 10px;
    left: 10px;
    color: dodgerblue; 
    font-size: 24px;
    cursor: pointer;
    z-index: 999;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

li {
    display: inline;
}
