*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(219, 219, 219);
  }
.login{
    height: 100%;
    width: 100%;
    background-image:url('loginregister.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
  }
.frame{
    border-radius: 5px;
    width: 600px;
    height: 450px;
    left: 51%;
    position: absolute;
    overflow: hidden;
    margin: 3% auto;
    padding: 5px;
  }
.bttn-bx{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: burlywood;
    border-radius: 30px;
  }
.bttn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
  }
.bck-bttn{
  position: relative;
  background: transparent;
  background-color: transparent;
  width: 30%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  border: 0;
  outline: none;
  top: 93%;
  }
  .forgot{
    background: transparent;
    width: 90%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    position: absolute;
    left: 05%;
    top: 85%;
  }
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, rgb(228, 171, 97), #d18024);
    border-radius: 30px;
    transition: .5s;
  }
  .input-grp{
    top: 140px;
    position: absolute;
    width: 400px;
    transition: .5s;
  }
  .input-fld{
    color: white;
    width: 100%;
    padding: 10px 0;
    margin: 15px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
  }
  .input-fld::placeholder {
    color: rgba(245, 245, 245, 0.603);
}
#loginform{

    left: 100px;
  }
#registerform{

    left: 650px;
}

.submit-bttn{
    width: 90%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    box-shadow: 0 0 5px #b68e52, 0 0 25px #c28f23;
    background: linear-gradient(to right, rgb(197, 136, 57), #ddb955cb);
    border: 0;
    outline: none;
    border-radius: 30px;
  }
  .submit-bttn:hover{
    background-color: #b68e52;
    transform: scale(1.05);
  }
#error_msg,#register_error {
    position: absolute;
    top: 123%;
    left: 34%;
}

  